:root {
    --main-color: rgba(0, 128, 0, 0.664);
}

#heading {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13mm;
    background-color: var(--main-color);
    width: 400mm;
}

.contact {
    font-size: 5mm;
    color: greenyellow;
}

a {
    color: rgb(0, 255, 0);
}

body {
    background: url(https://media.discordapp.net/attachments/1377325388291637339/1378653392875946004/khaki-pattern.jpg?ex=683d6287&is=683c1107&hm=14a87af16135c7bd77bb5176395211a637f3bf9f3ca2fe30f34f6339201dc0d7&=&format=webp);
    background-size: cover;
    background-position: center;
}

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px; 
    background-color: var(--main-color);
    width: 10cm;
    height: 8cm;
}

.container {
  background-color: var(--main-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:2cap ;
}